In [1]:
import numpy as np
import pandas as pd

In [6]:
data = pd.read_excel("Data01.xlsx")
data.head()

,Time,Date,Time.1,Temp(øC),CO2(ppm),Humidity(%RH),Ammonia(ppm),Factored Ammonia,Dust(ppm)
0,2023-01-12T12:52:30.000Z,2023-01-12,12:52:30,29.0,736.0,23.0,0.0,0.0,0.16
1,2023-01-12T12:54:00.000Z,2023-01-12,12:54:00,28.0,536.0,21.0,0.0,0.0,0.14
2,2023-01-12T12:54:30.000Z,2023-01-12,12:54:30,28.0,524.0,21.0,0.0,0.0,0.15
3,2023-01-12T12:55:00.000Z,2023-01-12,12:55:00,28.0,473.0,20.0,0.0,0.0,0.13
4,2023-01-12T12:56:00.000Z,2023-01-12,12:56:00,28.0,462.0,22.0,0.0,0.0,0.13

In [25]:
new_data = data[['Temp(øC)', 'CO2(ppm)', 'Humidity(%RH)', 'Ammonia(ppm)', 'Factored Ammonia', 'Dust(ppm)']]

In [26]:
new_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 415907 entries, 0 to 415906
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Temp(øC)          415907 non-null  float64
 1   CO2(ppm)          415907 non-null  float64
 2   Humidity(%RH)     415907 non-null  float64
 3   Ammonia(ppm)      415907 non-null  float64
 4   Factored Ammonia  415907 non-null  float64
 5   Dust(ppm)         415907 non-null  float64
dtypes: float64(6)
memory usage: 19.0 MB

In [22]:
new_data.head()

,Temp(øC),CO2(ppm),Humidity(%RH),Ammonia(ppm),Factored Ammonia,Dust(ppm)
0,29,736,23,0,0,0
1,28,536,21,0,0,0
2,28,524,21,0,0,0
3,28,473,20,0,0,0
4,28,462,22,0,0,0